body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.header img {
    float: right;
    width: 150px;
    height: 100px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.tempdisplay {
    position: relative;
    float: top;
    left: 300px;
    top: -40px;
}